.saveList {
  display: "flex";
  gap: 10;
  flex-direction: "column";
  align-items: center;
  overflow-y: auto;
  max-height: 90vh;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .saveList {
    display: "flex";
    gap: 10;
    flex-direction: "column";
    align-items: center;
    overflow-y: auto;
    max-height: 60vh;
  }
}
